body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fefefe;
	width: 800px;
	margin: 0 auto;
}

a:link {
	color: royalblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#title {
	position: fixed;
	font-size: 30px;
	font-weight: 100;
	font-style: italic;
	top: 20px;
	background-color: #607d8b52;
}

#info {
	position: fixed;
	font-size: 12px;
	top: 60px;
	width: 300px;
	text-align: left;
}

#chartContainer {
	position: absolute;
	top: 90px;
	width: 800px; 
}